@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geom', sans-serif;
}

h1, h2, h3, h4, h5, h6, span {
    color: #73a15d;
    text-align: center;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}

/* NAVIGATION BAR */

nav {
    height: 100;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav__link--list {
    display: flex;
}

nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    font-size: 16px;
    color:#73a15d;
    font-weight: 700;
}